.team {
    position: relative;
    padding: 175px 0 175px 0;
    overflow: hidden;
}
.team:before {
    content: '';
    height: 5px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    width: 810px;
    max-width: 100%;
}
.team:after {
    content: '';
    height: 5px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 810px;
    max-width: 100%;
}
.team_circle {
    background: url(../Team/img/team_circle.png) no-repeat;
    width: 198px;
    height: 396px;
    position: absolute;
    right: -22px;
    bottom: 222px;
}
.team__inner {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
}

.WorkersTeamWrap {
    flex-basis: 630px;
    flex-wrap: wrap;
}
.WorkersTeamWrap ul {
    display: flex;
    flex-wrap: wrap;
}
.WorkersTeamWrap ul li {
    margin: 0 20px 20px 0;
    position: relative;
}
.WorkersTeamInner {
    position: absolute;
    background: rgba(253, 114, 30, 0.9);
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
}
.WorkersTeam__title {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
}
.WorkersTeam__desc {
    font-size: 1.3rem;
    text-transform: uppercase;
}
.WorkersTeamWrap ul li:hover .WorkersTeamInner {
    opacity: 1;
}

.team__text {
    padding: 42px 0 0 65px;
    flex-basis: 400px;
    position: relative;
}
.team__title {
    font-size: 6.4rem;
    font-weight: 900;
    margin: 0 0 35px 0;
    position: relative;
    display: flex;
    align-items: flex-end;
}
.team__desc {
    font-weight: 300;
    padding: 0 0 8px 0;
}
.team__title:after {
    content: '';
    width: 45px;
    height: 5px;
    background: #fff;
    position: relative;
    top: -24px;
    left: 14px;
}

@media only screen and (max-width: 991px) {
    .team {
        padding: 50px 25px;
    }
    .WorkersTeamWrap ul li {
        flex-basis: 50%;
        margin: 0;
    }
    .team__text {
        padding: 42px 25px 0 25px;
    }
    .team_circle {
        display: none;
    }
    .team__title {
        font-size: 4rem;
    }

}



@media only screen and (max-width: 767px) {
    .team__inner {
        flex-wrap: wrap;
    }
    .WorkersTeamWrap {
        flex-basis: 100%;
    }
    .team__text {
        flex-basis: 100%;
    }
    .team__title {
        font-size: 3rem;
    }
    .team__title:after {
        width: 25px;
        left: 5;
        top: -10px;
    }
    .WorkersTeamWrap ul li {
        flex-basis: 100%;
        margin-bottom: 15px;
    }
    

}