.sliderWrap {
    position: relative;
    padding: 0 0 175px 0;
}
.sliderWrap:before {
    content: '';
    background: url(../Slider/Img/lines-group.png) no-repeat;
    width: 222px;
    height: 236px;
    position: absolute;
    right: 0;
    top: 150px;
}

.sliderWra__title {
    font-size: 64px;
    font-weight: 700;
    padding: 231px 0 0 160px;
    display: flex;
    align-items: flex-end;
    margin: 0;
}
.sliderWra__title:before {
    content: '';
    width: 45px;
    height: 5px;
    background: #fff;
    position: relative;
    top: -24px;
    left: -14px;
}


.sliderOuter {
}


.sliderListWrap {
    overflow: hidden;
    position: relative;
}

.sliderList {
    position: relative;
    padding: 114px 111px 0 65px;
    max-width: 996px;
    margin: 0 auto;
}
.sliderList__item {
}
.sliderList__itemInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sliderList__col_1 {
    flex-basis: 400px;
    background: #5D40DA;
    padding: 40px 40px 152px 40px;
    position: relative;
}
.sliderList__lines {
    position: absolute;
    right: 40px;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 108px;
    height: 138px;

}
.sliderList__lines span {
    background: #7C6DDA;
    width: 10px;
    height: 100%;
}
.sliderList__lines span.first-el {
    height: 27.54%;
}
.sliderList__lines span.second-el {
    height: 66.67%;
}


.sliderList__col_2 {
    flex-basis: 420px;
    background: #FD721E;
    padding: 20px 20px 0 20px;
}
.sliderList__title {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 27px;
}
.sliderList__text {
    line-height: 1.5;
    font-weight: 300;
}
a.sliderList__btn, .sliderList__btnWrap a {
    background: #FD721E;
    box-shadow: 1px 2px 10px rgba(253, 114, 30, 0.35);
    line-height: 3rem;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 11rem;
    margin-top: 4.6rem;
}
a.sliderList__btn:hover, .sliderList__btnWrap a:hover {
    text-decoration: none;
}
.portfolioList {

}
.portfolioList__item {
    margin-bottom: 20px;
}
.portfolioList__item figure img {
    max-width: 100%;
}
.sliderListWrap .slick-prev {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #5D40DA;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sliderListWrap .slick-prev:before {
    content: '';
    width: 0; 
    height: 0; 
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent; 
    border-right: 6px solid #fff; 
    font-size: 0;
}

.sliderListWrap .slick-next {
    position: absolute;
    width: 90px;
    height: 90px;
    background: #FD721E;
    top: 50%;
    right: -111px;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sliderListWrap .slick-next:before {
    content: '';
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; 
    border-left: 12px solid #fff; 
    font-size: 0;
}

@media only screen and (max-width: 1199px) {
   
    .sliderList {
        padding: 30px;
    }
    

}

@media only screen and (max-width: 991px) {
    .sliderWra__title {
        padding: 70px 0 0 0;
        font-size: 4rem;
    }
    .sliderWrap {
        padding-bottom: 50px;
    }

}



@media only screen and (max-width: 767px) {
    .sliderList__col_1 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .sliderList {
        padding: 10px 5px;
    } 
    .sliderWrap {
        padding-bottom: 25px;
    }
    .sliderWra__title {
        font-size: 3rem;
        padding-bottom: 25px;
    }
    .sliderWra__title:before {
        width: 25px;
        left: -5px;
        top: -10px;
    }
    

}


