.testimonialsList__slide {
    

}

.testimonialsList__inner {
    background: #fff;
    
    margin: 50px 0 50px 0;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 0 0 49px 0;
}
.testimonialsList__avatar {
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
}
.testimonialsList__desc {
    padding: 14px 15px 0 15px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}
.testimonialsList__desc:before {
    content: '';
    background: url(../TestimonialList/img/quoter-small.png) no-repeat;
    width: 41px;
    height: 32px;
    position: absolute;
    left: 13px;
    top: 22px;

}
.testimonialsList__desc p {
    font-size: 1.8rem;
    line-height: 1.5;
}
.testimonialsList__author {
    margin: 64px 0 0 0;
    border-top: 1px solid rgba(196,196,196,0.5);
    font-size: 3.6rem;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.5);
    padding: 46px 0 10px 0;
}
.testimonialsList__position {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
}