.testimonialsWrap {
    max-width: 1240px;
    margin: 0 auto;
    padding: 150px 0 0 0;
}
.testimonialsWrap__title {
    font-size: 6.4rem;
    font-weight: 900;
    margin: 0 0 95px 0;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.testimonialsWrap__title:before {
    content: '';
    width: 45px;
    height: 5px;
    background: #fff;
    position: relative;
    top: -24px;
    left: -14px;
}

.testimonialsWrap__inside {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 65px;
    position: relative;
}

.testimonialsWrap__inside .slick-prev {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #808080;
    top: 50%;
    left: -65px;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.testimonialsWrap__inside .slick-prev:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 6px solid #fff;
    font-size: 0;
}


.testimonialsWrap__inside .slick-next {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #FD721E;
    top: 50%;
    right: -65px;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.testimonialsWrap__inside .slick-next:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid #fff;
    font-size: 0;
}

.testimonialsWrap__inside:before {
    content: '';
    background: url(../Testimonials/img/quotes.png) no-repeat;
    width: 167px;
    height: 131px;
    position: absolute;
    left: -200px;
    top:  -50px;
}

.testimonialsOuter {
    position: relative;
    margin: 0 0 175px 0;
}
.testimonialsOuter:before {
    content: '';
    background: url(../Testimonials/img/testimonials_lines.png) no-repeat;
    width: 222px;
    height: 236px;
    position: absolute;
    right: 0;
    bottom: 0;
}


@media only screen and (max-width: 991px) {
    .testimonialsWrap__title {
        font-size: 4rem;
    }
    .testimonialsWrap {
        padding: 70px 0 0 0;
    }
    .testimonialsOuter {
        margin-bottom: 70px;
    }

}



@media only screen and (max-width: 767px) {
    .testimonialsWrap__inside {
        padding: 0 25px;
    }
    .testimonialsWrap__title {
        font-size: 3rem;
        margin-bottom: 25px;
    }
    .testimonialsWrap__title:before {
        width: 25px;
        left: -5px;
        top: -10px;
    }
    

}