.header {
    background: #7C6DDA url(./img/header_bg.png) center top no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 47px 0 47px 0;
    background-blend-mode: lighten;

}
.header:before {
    content: '';
    width: 810px;
    height: 5px;
    background-color:rgba(255,255,255,0.2);
    position: absolute;
    right: 0;
    bottom: 0;
}
.header__title {
    font-size: 9.6rem;
    font-weight: 700;
    max-width: 685px;
    line-height: 1.2;
    margin: 83px 0 0 21px
}
.header.header__inner {
    min-height: 296px;
}

@media only screen and (max-width: 991px) {
    .header__title {
        font-size: 6rem;
        max-width: 585px;
    }
    .header {
        padding: 0;
        min-height: auto;
    }
    .header:before {
        display: none;
    }
    .header.header__inner {
        min-height: auto;
    }

}

@media only screen and (max-width: 767px) {
    .header__title {
        margin: 40px 0 0 0;
    }
    

}