a.logo {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0 0 0 11px;
}
a.logo::before {
    content: '';
    background: url(./img/logo.png) no-repeat;
    width: 76px;
    height: 76px;
}
a.logo:hover {
    text-decoration: none;
}
.logo__text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    margin: 0 0 0 11px;

}

@media only screen and (max-width: 767px) {
    a.logo {
        display: inline-flex;
        margin: 0;
    }
}