a.btn {
    background: #FD721E;
    display: flex;
    max-width: 292px;
    justify-content: center;
    align-items: center;
    height: 66px;
    text-decoration: none;
    color: #fff;
    margin: 59px 0 0 25px;
    border-radius: 4px;
    box-shadow: 5px 5px 27px -2px rgba(253,114,30,0.47);
}
a.btn:hover {
    opacity: 0.9;
    box-shadow: 5px 5px 27px -2px rgba(253,114,30,0.1);
}
a.btn span {
    font-size: 2.2rem;
    font-weight: 300;
}
a.btn:after {
    content: '';
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #fff;
    margin: 0 0 0 11px;
}


@media only screen and (max-width: 767px) {
    a.btn {
        margin: 20px 0 0 0;
    }

}


